<div class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			<li><%= link_to "Add A New Wine", new_wine_path %></li>
			<li><%= link_to "Add more wine stores", new_store_path %></li>
			<li><%= link_to "Back to list", wines_path %></li>
		</ul>
</div>

<div class="container">
	<h1>Add a New Wine!</h1>   
	<%= render 'wines/form' %>
</div> <!-- end container -->



